/* #region variables */
:root {
    --bg: #37342f;
    --text: #ede5d0;
    --button-color: #776b5f;
    --button-hover: #934739;
}
/* #endregion */
/* #region fonts */
@font-face {
    font-family: TF2;
    src: url(./fonts/TF2.ttf);
}
@font-face {
    font-family: TF2secondary;
    src: url(./fonts/TF2secondary.ttf);
}
@font-face {
    font-family: tf2build;
    src: url(./fonts/tf2build.ttf);
}
/* #endregion */
/* #region global */
* {
    background-color: var(--bg);
}
/* #endregion */
/* #region header */
header, footer, main {
    font-family: "TF2";
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

header h1 {
    font-size: 5em ;
    margin-bottom: 0px;
}

header img {
    height: 15%;
    width: 15%;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

 header li {
    display: inline-block;

}

header a {
    font-family: "tf2build";
    text-decoration: none;
    background-color: var(--button-color);
    border-radius: 15px;
    border : .5em solid var(--button-color);
    font-size: 1.6em;
    color: var(--text);
    margin: .5em .5em 0em .5em;
}

header a:hover {
    background-color: var(--button-hover);
    border : .5em solid var(--button-hover);
}

a:visited {
    color: var(--text);
}
/* #endregion */
/* #region aboutMe */
.about {
    width: 50%;
    font-size: 24px;
}
.about p {
    font-family: "TF2secondary";
}
.proficiency{
    list-style:disc;
    padding-inline-start: 40px;

}
.proficiency li {
    display: list-item;
    padding: 0;
    font-family: "TF2secondary";
}
/* #endregion */
/* #region recentWork */
.recent-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family:"tf2build";
}
.recent-work h2, footer h2 {
    font-size: 3em;
    font-family:"tf2";
}
.img-small-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.img-small-container .project-card {
    display: flex;
    flex-direction: column;
    width:50%;
    padding-top:.5em;
    align-items: center;
    justify-content: center;
}
.img-small-container .github {
    background-color: var(--button-color);
    border: .7em solid var(--button-color);
    border-radius:15px;
    font-size:2em;
    text-decoration:none;
}
.img-back {
    width: 90%;
}
.img-small-container .img-back img {
    width: 100%;
    margin-left: .5em;
    margin-right: .5em;
    background-color: var(--button-color);
    border: .7em solid var(--button-color);
    border-radius: 15px;

}
a .img-small {
    width: 100%;
    height: 100%;
}
.img-small-container .github:hover {
    background-color: var(--button-hover);
    border : .7em solid var(--button-hover);
    
}
.img-small-container .img-back img:hover {
    background-color: var(--button-hover);
    border : .7em solid var(--button-hover);
    
}
/* #endregion */
/* #contact form */
input {
    width:100%;
    color:var(--text);
    font-family:"tf2build";
}

form button {
    margin-top: .5em;
    background-color: var(--button-color);
    border: .7em solid var(--button-color);
    border-radius:15px;
    font-family:"tf2build";
    font-size: 1em;
    color:var(--text);
}

form button:hover {
    background-color:var(--button-hover);
    border: .7em solid var(--button-hover);
}
/* #region footer */
footer {
    display: flex;
    flex-direction: column;   
}
footer ul {
    list-style: none;
    padding-inline-start: 0px;
}
footer li {
    display: inline-block;
    padding:25px;
    font-family: "tf2build";
    font-size: 1.5em;
}
footer li a {
    text-decoration: none;
    color: var(--text);
}
/* #endregion */
/* #region mediaQuery */
@media screen and (max-width:1000px) {
    footer li {
        display:flex;
        padding: 5px;
        justify-content: center;
    }
    header h1 {
        font-size:3em;
    }
    header li {
        display:flex;
        flex-direction:column;
        padding: 5px;
        justify-content: center;
    }
}
/* #endregion */
